*.stackdump
tmp/
/history
.python-environments/
/network-security.data
*.elc
*.pyc
/*.zip
*.db
python-*-docs-html
/.cask/
/session.*
/srecode-map.el
/recentf

# Private directory
private/
!private/README.md
!private/snippets/README.md
!private/local/README.md
